{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  {% block head %}
  {% endblock %}
</head>

<body>
{% block body_top %}

{% endblock %}
{% block content %}

{% endblock %}
{% block body_bottom %}

{% endblock %}

</body>
</html>
