{% extends "base.html" %}
{% load static %}
{% block head %}
  <title>{{ title }}</title>
  
  <link rel="stylesheet" href="/static/css/vuetify.css">
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}


{% block content %}
  <div id="main_app"></div>
{% endblock %}



{% block body_bottom %}
  
  <script src="/static/js/vuelidate.js"></script>
  <script src="/static/js/vuetify.js"></script>
  <script src="/static/js/vuex.js"></script>
  <script src="/static/js/vue-router.js"></script>
  <script src="/static/js/axios.js"></script>
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/vendors.js"></script>
  <script src="/static/js/index.js"></script>
{% endblock %}
